[submodule "instant-ngp-module"]
	path = instant-ngp-module
	url = https://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@github.com/yindaheng98/instant-ngp-module
